@page "/screens/comparisons/compared/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime JS

<head>
    <style>
        table {
            border-collapse: collapse;
        }
        th {
            background-color:antiquewhite;
            Color:brown;
        }
        th, td {
            width:150px;
            text-align:center;
            border:1px solid black;
            padding:5px
         
        }
    </style>
</head>

<div>
    <table>
        <tr>
            <th>Screen Name</th>
            <th>Screen Size</th>
            <th>Screen Brand</th>
            <th>Screen Type</th>
            <th>Screen Finish</th>
            <th>Screen Hz</th>
            <th>Screen Resolution</th>
            <th>Screen Touch</th>
            <th>Screen Type</th>
        </tr>
        <tr>
            @foreach (var screen in Screens)
            {
                if (screen.ScreenBrand == @StoredData1)
                {
                    <th>@screen.ScreenName</th>
                    <th>@screen.ScreenSize</th>
                    <th>@screen.ScreenBrand</th>
                    <th>@screen.ScreenType</th>
                    <th>@screen.ScreenFinish</th>
                    <th>@screen.ScreenHz</th>
                    <th>@screen.ScreenResolution</th>
                    <th>@screen.ScreenTouch</th>
                    <th>@screen.ScreenType</th>
                }
            }
        </tr>
        <tr>
            @foreach (var screen in Screens)
            {
                if (screen.ScreenBrand == @StoredData2)
                {
                    <th>@screen.ScreenName</th>
                    <th>@screen.ScreenSize</th>
                    <th>@screen.ScreenBrand</th>
                    <th>@screen.ScreenType</th>
                    <th>@screen.ScreenFinish</th>
                    <th>@screen.ScreenHz</th>
                    <th>@screen.ScreenResolution</th>
                    <th>@screen.ScreenTouch</th>
                    <th>@screen.ScreenType</th>
                }
            }
        </tr>
    </table>
    <table>
        <tr>
            <th>Screen Hz</th>
            <th>Screen Size</th>
        </tr>
        <tr>
            @for (int x = 0; x < StoredTestList.Count(); x++)
            {
                if (StoredTestList.Skip(x).FirstOrDefault() == null)
                {
                    <th>Equal</th>
                }
                else
                {
                    foreach (var screen in Screens)
                    {
                        if (screen.ScreenBrand == StoredTestList.Skip(x).FirstOrDefault())
                        {
                            <th>@screen.ScreenName</th>
                        }
                    }
                }
            }
        </tr>
    </table>
</div>

@code{
    Screen screen = new Screen();
    private List<Screen>? Screens;
    private string StoredData1 = "";
    private string StoredData2 = "";
    private List<int?> StoredDataList = new List<int?>();
    private List<string?> StoredSavedDataList = new List<string?>();
    private List<string?> StoredTestList = new List<string?>();

    protected async override Task OnInitializedAsync()
    {
        Screens = await _client.GetFromJsonAsync<List<Screen>>($"{Endpoints.ScreensEndpoint}");
        StoredData1 = await JS.InvokeAsync<string>("localStorage.getItem", "StoredSelection1");
        StoredData2 = await JS.InvokeAsync<string>("localStorage.getItem", "StoredSelection2");
        StoredSavedDataList.Add(StoredData1);
        StoredSavedDataList.Add(StoredData2);
        foreach (var screen in Screens)
        {
            if (screen.ScreenBrand == StoredData1)
            {
                StoredDataList.Add(screen.ScreenHz);
                StoredDataList.Add(screen.ScreenSize);
            }

            if (screen.ScreenBrand == StoredData2)
            {
                StoredDataList.Add(screen.ScreenHz);
                StoredDataList.Add(screen.ScreenSize);
            }
        }
        for (int x = 0; x < ((StoredDataList.Count) / 2); x++)
        {
            if (StoredDataList.Skip(x).FirstOrDefault() == StoredDataList.Skip(x + (StoredDataList.Count / 2)).FirstOrDefault())
            {
                StoredTestList.Add(null);
    }
            else if (StoredDataList.Skip(x).FirstOrDefault() > StoredDataList.Skip(x + (StoredDataList.Count / 2)).FirstOrDefault())
            {
                foreach (var screen in Screens)
                {
                    for (int y = 0; y < ((StoredDataList.Count) / 2); y++)
                    {
                        if (screen.ScreenBrand == StoredSavedDataList.Skip(y).FirstOrDefault())
                        {
                            if (screen.ScreenHz == StoredDataList.Skip(x).FirstOrDefault())
                            {
                                StoredTestList.Add(screen.ScreenBrand);
                                break;
                            }
                            else if (screen.ScreenSize == StoredDataList.Skip(x).FirstOrDefault())
                            {
                                StoredTestList.Add(screen.ScreenBrand);
                                break;
                            }
                        }
                    }
                }
            }
            else
            {
                foreach (var screen in Screens)
                {
                    for (int y = 0; y < ((StoredDataList.Count) / 2); y++)
                    {
                        if (screen.ScreenBrand == StoredSavedDataList.Skip(y).FirstOrDefault())
                        {
                            if (screen.ScreenHz == StoredDataList.Skip(x + (StoredDataList.Count / 2)).FirstOrDefault())
                            {
                                StoredTestList.Add(screen.ScreenBrand);
                                break;
                            }
                            else if (screen.ScreenSize == StoredDataList.Skip(x + (StoredDataList.Count / 2)).FirstOrDefault())
                            {
                                StoredTestList.Add(screen.ScreenBrand);
                                break;
                            }
                        }
                    }
                }
            }
        }
    }
}